<!DOCTYPE HTML>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="/style.css" />
    <% include partials/navbar %>
<body>
  <header class="welcame-page">
        <h1>Your Personal Dashboard</h1>
  </header>
  </section>
  <section id="section-colored-block">
    <div class="jumbotron pink-container">
      <div class="container colored-container">
        <div class="colored-text">
            <br />
          <h2> Read & Automate</h2>
        </div>
        <img class="colored-block" src="/Web-Design.png" alt="web design" />
        <img class="colored-block" src="/analiz-dashboard.png" alt="web design" />
      </div>
      <div>
      </div>
        <br />
        <br />
  <% include partials/footer %>
</body>

</html>
