<!DOCTYPE HTML>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<html>
<link rel="stylesheet" type="text/css" href="/style.css" />
<% include partials/navbar %>

<body>
  <h3 style="text-align: center; background-color: aliceblue;"> Your dashboard,
    <%= user.username %>!
  </h3>
  <div class="container">
      <% if (widgets && widgets[0]) { widgets.forEach(function(wid) { %>
        <%- include('partials/' +wid.u_widget.name, { widP:wid, userP:user}) %>
      <% });} else { %>
        <div class="no-widget">
          <h2 class="no-widget-title">You don't have any widget!</h2><br>
          <div class="click-here-to-add">
            <h3> <img class="add" src="/add.png"/>  Click <a href="/widgets">here</a> to add some !</h3>
            <br />
            <br />
          </div>
        </div>
      <% } %>
  </div>
</body>
<% include partials/footer %>

</html>
